*{
    padding:0;
    margin:0;
    text-decoration: none;
}


.myLogo{
    height:5.5em;
    width:5.5em;


}



.jumbo-text{
    color: white; /* Keep the text white */
    text-shadow: 
      -1px -1px 0 black,
       1px -1px 0 black, 
      -1px  1px 0 black, 
       1px  1px 0 black; 

}

.Firstheading{
    color:white;
    display:flex;
    justify-content: center;
   
}

.shopNow{
    text-shadow: none;
}

#navbarNav li, a{

    font-size: 1.5em;
    margin:1em;
    padding:1em;
}

.navbar .nav-link {
    color: rgb(175, 170, 170) !important;
  
  }

.navbar .nav-link:hover{
    text-decoration: underline white;
    /*text-shadow: black 2px 5px ;*/
}


/* Center-align footer links and make them inline */
.footerLinks .footer-text {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Display items in a row */
    /* flex-wrap:wrap; */
    gap: 10px; /* Add spacing between each item */
    justify-content: center; /* Center the list items */
  }

  
  
  /* Remove text decoration from links */
  .footerLinks .footer-text a {
    color: #ffffff; /* Keep text white */
    text-decoration: none; /* Remove underline */
    font-size:1rem;

  }
  
  .footerLinks .footer-text a:hover {
    text-decoration: underline; /* Optional: underline on hover */
  }

  .footer-text {
    padding: 0; /* Ensure no padding shifts the content */
    margin: 0 auto; /* Center-align */
  }

  .cart{
    padding:10px;
    margin:0px;
    text-align: center;

    
  }


  
  /* Store page css */

  .storeHeading{
    color:white;
    display: flex;
    justify-content: center;
    padding:10px;

  }

  .cardContainer{
    margin-left: 5em;
  }

  #addToCartButton{
    max-width: 8em;


  }
  .cardContainer {
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensures block layout for auto margin to work */
  }

  .carousel-indicators {
    display: none;
  }


  /*Contact form CSS */

  form{
    color:white;

  }

  

  @media (max-width: 480px) {
    form {
      width: 90%; /* Use 90% of the screen width on small devices */
    }
  }



  .badge {
    position: absolute;
    top: 30px;
    right: 5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size:0.5em;
  }

  .aboutUsHeading{
    color:white;
    text-align: center;

  }

  .aboutUsContainer{
    color:white;
    text-align: center;
    margin:1.5em;
  }

.embededMap{
  margin:1em;
  padding:1em;
}


/* Sign up CSS */

.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
